/* ==========================================================================
Navbar
========================================================================== */

.brand-name {
  color: black;
  font-weight: bold;
  font-size: 24px;
  margin-left: 10px;
}

//Navbar
.nav {

  transition: all .3s;
  background-color: transparent;
  max-width: 1400px;
  margin: 0 auto;
  height: 60px;
  // @media (max-width: 767px) {
  //   position: fixed;
  //   background-color: white;
  //   z-index: 1000;
  //   width:100%;
  //   box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 12px 0px;
  // }
}

.nav-item {
  display: flex;
  padding: 10px;

  svg {
    height: 48px;

  }
}
