/* ==========================================================================
Hero styles
========================================================================== */

.hero-body {
    .title, .subtitle {
        font-family: 'Open Sans', sans-serif;
    }
    .title {
        &.is-bold {
            font-weight: 700;
        }
    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

.hero-foot {
    .subtitle {
        text-align: center;
        &.is-muted {
            color: $muted-grey;
        }
    }
    div {
      text-align: center;

      ul {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        li {
          height: 50px;
          max-width: 180px;

          img {
            height: 50px;
          }
          margin-top: 20px;
          padding: 0 10px;

          display: inline-flex;
          justify-content: center;

        }

      }
    }


}


